<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page_title %}
      {{ page_title }} — {{ shop.name }}
    {% else %}
      {{ shop.name }}
    {% endif %}
  </title>

  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
</head>
<body>
  {{ content_for_layout }}
</body>
</html>
